In [3]:
#Range-1
Num=range(0,20)
for op in Num:
    print(op)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [17]:
#Range-2
Num=range(10,20)
for op in Num:
    print(op,end=' ')

10 11 12 13 14 15 16 17 18 19

In [19]:
#Length of list
list2=[10,20,14,55,43,87,76]
print("Number of item in the list2: ",len(list2))

Number of item in the list2:  7

In [1]:
#Print string vertically
x='Artificial Intelligence'
print(x)
for op in x:
    print (op)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [5]:
#Print
print("-Your Name-")
print("-Your Age-")
print("-Your Profession-")

-Your Name-
-Your Age-
-Your Profession-

In [1]:
#Tuple-1
t=(1,'Welcome',2,'Hope')
print(tuple(t))

(1, 'Welcome', 2, 'Hope')

In [3]:
#Tuple-2
list1=(0,1,2,3)
String2=('Python','HOPE')
print(tuple(list1),tuple(String2))

(0, 1, 2, 3) ('Python', 'HOPE')

In [15]:
#Print Odd numbers from the list
a=[20,10,16,19,25,1,276,188]
for i in a:
    if i % 2 !=0:
        print(i,"is odd")

19 is odd
25 is odd
1 is odd

In [17]:
#Print Even numbers from the list
b=[20,10,16,19,25,1,276,188]
for j in a:
    if j % 2 ==0:
        print (j,"is even")

20 is even
10 is even
16 is even
276 is even
188 is even